* {
    box-sizing: border-box;
}

body {
    /* margin: 10vmin; */
    padding: 0;
    font-family: sans-serif;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 5vmin 0 5vmin;
    background-color: #274731;
    /* border: 2px solid black; */
    width: 80vmin;
    color: white;
}

.heartfill {
    height: 3vmin;
    width: 3vmin;
}

.heart-outline {
    display: none;
    height: 3vmin;
    width: 3vmin;
}

hr {
    height: 5px;
    background-color: black;
    margin: 0;
}

.item {
    overflow: hidden;
}

#board {
    height: 600px;
    width: 80vmin;
    background-color: #EBF5F2;
    border: 2vmin solid #274731;
    position: relative;
    align-items: center;
    margin: 0 auto;
}

.item {
    overflow: hidden;
    visibility: hidden;
}

.fruit {
    /* background-color: #7DE674; */
    height: 12vmin;
    width: 12vmin;
    border-radius: 100%;
}

#strawberry {
    height: 8vmin;

}

#mango {
    height: 14vmin;
}

.bomb {
    /* background-color: #F44D61; */
    height: 10vmin;
    width: 10vmin;
    border-radius: 100%;
    transition: opacity 0.5s ease-in-out;
}


#modal {
    background-color: lightgray;
    border-radius: 32px;
    text-align: center;
    padding: 4vmin;
    width: 50vmin;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}

#modal > h1, #score-title {
    margin-bottom: 4vmin;
}

button {
    border: 1px solid black;
    border-radius: 16px;
    padding: 16px;
    background-color: rgb(234, 233, 233);

}

button:hover {
    background-color: darkgrey;
}

.item-container {
    display: inline-block;
}

.particle {
    border-radius: 50%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    opacity: 0;
}
