* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #4C7A5B;
    font-family: 'Archivo Black', sans-serif;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 5vmin 0 5vmin;
    background-color: #274731;
    border: 2px solid black;
    width: 725px;
    color: white;
}

.heartfill {
    height: 3vmin;
    width: 3vmin;
}

.heart-outline {
    display: none;
    height: 3vmin;
    width: 3vmin;
}

hr {
    height: 5px;
    background-color: black;
    margin: 0;
}

.item {
    visibility: hidden;
}

#board {
    height: 600px;
    width: 725px;
    background-color: #EBF5F2;
    border-top: 0;
    position: relative;
    align-items: center;
    margin: 0 auto;
}

.fruit {
    /* background-color: #7DE674; */
    height: 12vmin;
    width: 12vmin;
}

#strawberry {
    height: 8vmin;
}

#coconut {
    height: 10vmin;
}

.bomb {
    /* background-color: #F44D61; */
    height: 10vmin;
    width: 10vmin;
    border-radius: 100%;
    transition: opacity 0.5s ease-in-out;
}

#modal-container {
    height: 600px;
    width: 80vmin;;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 1000;
    display: none
}

#modal {
    border-radius: 32px;
    text-align: center;
    padding: 4vmin;
    width: 50vmin;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    color: #274731;;
}

#modal > h1, #score-title {
    margin-bottom: 4vmin;
}

button {
    border: 5px solid #274731;
    border-radius: 16px;
    padding: 16px;
    background-color: #4C7A5B;
    font-family: 'Archivo Black', sans-serif;
    color: white;

}

button:hover {
    background-color: #274731;
}

.item-container {
    display: inline-block;
}

.particle {
    border-radius: 50%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    opacity: 0;
}


@media (max-width: 740px) {
    header {
        width: 500px;
    }
    #board {
        width: 500px;
    }
}

@media (max-width: 520px) {
    header {
        width: 400px;
    }
    #board {
        width: 400px;
    }
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-8/oth702.cur), auto !important;} /* End https://www.cursors-4u.com */